@inherits AppSocialComponent

@if (UserModel is not null)
{
    <div class="contact-card">
        <div class="contact-card-item avatar">
            <div class="avatar-items">
                <img class="contact-card-item profile-pic" src="@UserModel.GetUserProfilePic()" />
                <div class="contact-card-item">
                    <span class="username">@UserModel.Username</span>
                    <span class="pronouns">@UserModel.Pronouns</span>
                </div>
            </div>
            <button class="small btn btn-primary follow-button" @onclick="FollowUser">@FollowLabel</button>
        </div>
        <p class="profile-message">@(UserModel.ProfileMessage ?? "...")</p>
        
    </div>
}
else
{
    <div class="contact-card"><p>null</p></div>
}
