@using System.Diagnostics;
@if (PostData is null)
{
    <div class="post">
        <div class="postHeader">
        </div>
        <p style="font-style: italic">null</p>
    </div>
}
else
{
    <div class="post">
        <div class="postHeader">
            <img class="profilePic" src="@PostData.Poster.GetUserProfilePic()" />
            <h3>@PostData.Poster!.Username</h3>
            <span>@PostData.Poster.Pronouns</span>
        </div>
        <p>@PostData.Content</p>
        <div class="postFooter">
            <span>Publicado en @PostData.DatePosted.RenderPostTime() bajo '@PostData.PosterThenUsername'</span>
        </div>
        <hr />
        <NewPost InResponseTo="PostData" PostList="PostList" />
    </div>
}
