@page
@using Urbe.Programacion.AppVehiculos.WebApp.Data;
@model Urbe.Programacion.AppVehiculos.WebApp.Pages.Reports.CreateModel

@{
    ViewData["Title"] = "Crear Reporte";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Crear Reporte</h1>
    <h2>Por favor, indique los datos de su reporte</h2>
</div>
<div>
    <br />
    <div class="card align-items-center">
        @if (Model.Errors.Count > 0)
        {
            <br />
            <div class="error-box" />

            @foreach (var error in Model.Errors.Errors)
            {
                <p class="error-line">@error.DefaultMessageES</p>
            }
        }

        <div class="card-body">

            <form method="post">
                <div class="form-group">
                    <label asp-for="UpdateModel.VehicleColor" class="control-label">Modelo de Vehículo</label>
                    <input asp-for="UpdateModel.VehicleModel" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="UpdateModel.VehicleMake" class="control-label">Marca de Vehículo</label>
                    <input asp-for="UpdateModel.VehicleMake" class="form-control" list="vehiclemakelist" />
                    <datalist id="vehiclemakelist">
                        @foreach (var make in VehicleReport.KnownVehicleMakes)
                        {
                            <option>@make</option>
                        }
                    </datalist>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="UpdateModel.LicensePlate" class="control-label">Número de Placa</label>
                    <input asp-for="UpdateModel.LicensePlate" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="UpdateModel.VehicleColor" class="control-label">Color</label>
                    @Html.DropDownListFor(
                        x => x.UpdateModel.VehicleColor, 
                        SharedPageData.GetColorSelectListFor(null), 
                        null,
                        SharedPageData.FormControlModel
                    )
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="UpdateModel.VehicleCountryAlpha3Code" class="control-label">País de Precedencia</label>
                    @Html.DropDownListFor(
                        x => x.UpdateModel.VehicleCountryAlpha3Code, 
                        SharedPageData.GetCountrySelectListFor(null), 
                        null,
                        SharedPageData.FormControlModel
                    )
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="UpdateModel.CorrectiveMaintenance" class="control-label">¿Mantenimiento Correctivo?</label>
                    @Html.CheckBoxFor(x => x.UpdateModel.CorrectiveMaintenance)

                    <br />
                    <label asp-for="UpdateModel.PreventiveMaintenance" class="control-label">¿Mantenimiento Preventivo?</label>
                    @Html.CheckBoxFor(x => x.UpdateModel.PreventiveMaintenance)
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>

<br/>

<div>
    <a asp-page="./Index">Regresar a la lista</a>
</div>
